.container {
    display: grid;
    grid-template-columns: 150px 200px 80px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 0.2rem;
}
.box {
    background-color: rgb(255, 192, 114);
    display: grid;
    place-items: center;
}

#item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
#item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
}
#item-3 {
    grid-column-start: 1;
    grid-column-end: 5;
}
#item-4 {
    grid-row-start: 3;
    grid-row-end: 5;
}
#item-6 {
    grid-column-start: 3;
    grid-column-end: 5;
}
#item-7 {
    grid-column-start: 2;
    grid-column-end: 4;
}