.container {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.box {
    border: 1.5px solid black;
    background-color: deeppink;
    padding: 1.5rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}